* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variaveis */

:root {
    --h1-color: #F2a49e;
    --h2-color: #8c3933;
    --h3-color: #54221e;
    --b1-color: #FFFFFF;
    --b2-color: #818181;
    --b3-color: #000000;
    
    --font-family: 'CrimsonPro', sans-serif;
    --font-inter: 'Inter', sans-serif;
}   

/* Fontes */

@font-face {
  font-family: 'CrimsonPro';
  src: url('../fonts/CrimsonPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CrimsonPro';
  src: url('../fonts/CrimsonPro-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter_24pt-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}