/* -- Global -- */
@import "global.css";

body {
    font-family: var(--font-family);
    background: var(--b1-color);
}

.cutom-navbar {
    display: flex;
    width: 100%;
}

.navbar-content {
    height: 104px;
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 34px;

    background: var(--h2-color);

    font-size: 32px;

}

.brand-navbar img {
    height: 56px;
}

.navbar-menu {
    display: flex;
    justify-content: space-between;
    gap: 130px;
    align-items: center;
    
    list-style: none;
}

.navbar-menu a {
    text-decoration: none;
    color: var(--b1-color);
}

.navbar-item {
    font-weight: 400;
    font-size: 32px;
}

/* SECTION - HERO */
.hero {
    height: 400px;
    width: 100%;
    background: var(--h1-color);

    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.hero h1 {
    font-size: 64px;
    font-weight: 700;
    font-style: italic;
    color: var(--h2-color);
    margin-bottom: 64px;
    margin-top: 64px;
}

.hero p {
    font-size: 40px;
    font-weight: 400;
    color: var(--h2-color);
}

/* SECTION - ABOUT */
.about {
    height: 776px;
    width: 100%;
    background: var(--h2-color);

    display: flex;
    justify-content: center;
    
    align-items: center;
}

.about-container {
  display: flex;
  gap: 60px; /* espaço entre texto e imagens */
  align-items: flex-start;
  padding-left: 144px;
  padding-right: 144px;
  padding-bottom: 88px;
  padding-top: 88px;
}

.about-images {
  display: flex;
  flex-direction: column;
}

.about-text {
  max-width: 500px;

}

.about-title {
  font-weight: bold;
  font-size: 40px;
  
}
.about-text p {
    color: var(--b1-color);
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    
}

.p-inicial {
    margin-bottom: 32px;
}

/* SECTION - MISSION */
.mission {
    height: 776px;
    width: 100%;
    background: var(--h3-color);

    display: flex;
    justify-content: center;
    align-items: center;
}